In [9]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [10]:
years = list(range(2001,2023))
root_url = "https://www.basketball-reference.com/awards/awards_{}.html"
stats_per_game_url = "https://www.basketball-reference.com/leagues/NBA_{}_per_game.html"

In [21]:
for year in years:
    url = root_url.format(year)
    data = requests.get(url)
        
    with open("mvps/mvp_season_{}.html".format(year), "w+", encoding='utf-8') as f:
        f.write(data.text)

In [3]:
with open ("mvps/mvp_season_2001.html", encoding='utf-8') as f:
    page = f.read()
soup = BeautifulSoup(page, "html.parser")

In [4]:
soup.find('tr',class_="over_header").decompose()
mvp_table = soup.find_all(id= "mvp")

In [5]:
df = pd.read_html(str(mvp_table))[0]

In [21]:
dfs = []
for year in years:
    with open ("mvps/mvp_season_{}.html".format(year), encoding='utf-8') as f:
        page = f.read()
    soup = BeautifulSoup(page, "html.parser")
    soup.find('tr',class_="over_header").decompose()
    mvp_table = soup.find_all(id= "mvp")
    df = pd.read_html(str(mvp_table))[0]
    df["Year"] = year
    dfs.append(df)

In [22]:
mvps = pd.concat(dfs)

In [25]:
mvps.tail()

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,Year
7,8,Stephen Curry,33,GSW,0.0,4.0,1000,0.004,64,34.5,...,5.2,6.3,1.3,0.4,0.437,0.380,0.923,8.0,0.173,2022
8,9,Chris Paul,36,PHO,0.0,2.0,1000,0.002,65,32.9,...,4.4,10.8,1.9,0.3,0.493,0.317,0.837,9.4,0.210,2022
9,10T,DeMar DeRozan,32,CHI,0.0,1.0,1000,0.001,76,36.1,...,5.2,4.9,0.9,0.3,0.504,0.352,0.877,8.8,0.154,2022
10,10T,Kevin Durant,33,BRK,0.0,1.0,1000,0.001,55,37.2,...,7.4,6.4,0.9,0.9,0.518,0.383,0.910,8.4,0.198,2022
11,10T,LeBron James,37,LAL,0.0,1.0,1000,0.001,56,37.2,...,8.2,6.2,1.3,1.1,0.524,0.359,0.756,7.5,0.172,2022

In [26]:
mvps.to_csv("mvps.csv")